<div class="mb3 pa4 mid-gray overflow-hidden">
  <a href="{{ .Permalink }}" class="link black dim">
    <h1 class="f3 near-black">
        {{ $.Param "names.common" }}
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
        {{ $feat := $.Param "featured_image" }}
        {{ $images := getJSON "content/image-info.json" }}
          {{ range $images }}
            {{ if eq .name $feat }}
            {{ if .file }} 
            <img src = "/images/{{ .file }} ">
            {{ else if .url }} 
           <img src = "{{ .url }} ">
            {{ end }}
      
          {{ end }}
        {{ end }}
    </div>
  </a>
</div>
